asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.2.2
django-cors-headers==4.1.0
django-sslserver==0.22
idna==3.4
requests==2.31.0
soupsieve==2.4.1
sqlparse==0.4.4
tzdata==2023.3
ua-parser==0.16.1
urllib3==2.0.3
user-agents==2.2.0
