.alert {
  position: relative;
  padding: 16px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid transparent;
  border-width: 2px;
  transition: border-width 0.3s, opacity 0.3s;
}

.alert .close {
  margin-left: auto;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.info {
  background-color: #e3f2fd;
  color: #1565c0;
  border-color: #1565c0;
}

.danger {
  background-color: #ffebee;
  color: #c62828;
  border-color: #c62828;
}

.success {
  background-color: #e8f5e9;
  color: #2e7d32;
  border-color: #2e7d32;
}

.warning {
  background-color: #fffde7;
  color: #f9a825;
  border-color: #f9a825;
}

.alert .close:hover {
  background-color: #b3e5fc;
}

.alert .message {
  margin-right: 30px;
}

.alert.rounded {
  border-radius: 8px;
}

.alert.dismissing {
  border-width: 2px;
  opacity: 0;
}