{% extends 'base.html' %}
{% block body %}
<!-- url -->
<div class="px-4 my-4">
    <form action="/emulate/" method="post">
    <div class="relative z-0 w-full mb-6 group">
        <input type="text" name="floating_url" id="floating_url" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-purple-500 appearance-none dark:text-white dark:border-purple-500 dark:focus:border-purple-500 focus:outline-none focus:ring-0 border-purple-500 peer" placeholder="Enter URL of Your Website" required />
        <label for="floating_url" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"></label>
    </div>
    <div class="flex justify-center">
        {% csrf_token %}
        <button type="submit" class="bg-purple-500 rounded py-2 px-4 text-white mt-4 cursor-pointer">
            Emulate
        </button>
    </div>
    </form>
</div>
{% endblock body %}
